<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Login Fixmort</title>
    {{!-- <link rel="stylesheet" href="../css/style.css">  --}}
    <link rel="stylesheet" href="../css/registrar-usuario.css">
    <link rel="stylesheet" href="../css/homestyle.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/ec9265bfa6.js" crossorigin="anonymous"></script>
</head>
