<!DOCTYPE html>
<html lang="en">

{{> header }}

<body>
    {{> navbar  }}
    <div class="container">
        <div class="text">Registro Usuarios</div>
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
        <form action="/auth/register" method="post">
            <div class="data">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="data">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="data">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="data">
                <label for="cpassword">Cofnrima Password</label>
                <input type="password" name="cpassword" id="cpassword">
            </div>
            <div class="btn">
                <button type="submit">Registrar Usuario</button>
            </div>
            <div class="singup-link">¿Ya existe un usuario?<a href="/"> Inicia Sesión</a></div>
        </form>
    </div>
</body>

</html>